body {
  background-color: #1c1c1c;
  color: white;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#magic-8-ball {
  text-align: center;
}

#ball-container {
  width: 350px;
  height: 350px;
  margin-top: 20px;
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.magic-ball {
  width: 80%;
  height: 80%;
  transition: transform 0.4s ease-in-out;
}

h1 {
  font-size: 2rem;
  color: #f7f7f7;
}

button {
  font-size: 1rem;
  padding: 10px 20px;
}

button:hover {
  background-color: #28a745;
}

#response-text {
  font-size: 1.2rem;
  margin-top: 20px;
}

/* shake animation */
.shake {
  animation: shakeAnimation 0.5s ease-in-out;
}

@keyframes shakeAnimation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}