body {
  background-color: #fff;
  color: white;
  font-family: "Arial", sans-serif;
}

#magic-8-ball {
  text-align: center;
}

#ball-container {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  position: relative;
  border-radius: 50%;
}

.magic-ball {
  width: 100%;
  transition: transform 0.4s ease-in-out;
}

h1 {
  font-size: 2rem;
  color: #f7f7f7;
}

button {
  font-size: 1rem;
  padding: 10px 20px;
}

button:hover {
  background-color: #28a745;
}

#response-text {
  font-size: 1.2rem;
  margin-top: 20px;
}

.shake {
  animation: shakeAnimation 0.5s ease-in-out;
}

@keyframes shakeAnimation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}