body {
  background-color: #1c1c1c;
  color: white;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/* title */
h1 {
  font-size: 3rem;
  color: #ffffff;
  text-shadow: 3px 3px 10px rgba(0, 0, 139, 0.7);
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

/* body text */
p {
  font-size: 1.2rem;
  margin-top: 20px;
  text-align: center;
}

/* 8 ball */
#magic-8-ball {
  text-align: center;
}

#ball-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#ball-container {
  width: 250px;
  height: 250px;
  margin-top: 20px;
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.magic-ball {
  width: 80%;
  height: 80%;
  transition: transform 0.4s ease-in-out;
  position: absolute;
}

/* custom button */
button {
  font-size: 1.1rem;
  padding: 12px 30px;
  background: linear-gradient(145deg, #252525, #3d3d3d);
  color: white;
  border: none;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5),
    0px 0px 10px rgba(255, 255, 255, 0.15);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: linear-gradient(145deg, #3d3d3d, #525252);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.7),
    0px 0px 14px rgba(255, 255, 255, 0.3);
  transform: translateY(-2px);
}

button:active {
  background: linear-gradient(145deg, #1a1a1a, #2d2d2d);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6),
    0px 0px 8px rgba(255, 255, 255, 0.2);
  transform: translateY(1px);
}

button:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}

/* shake animation */
.shake {
  animation: shakeAnimation 0.5s ease-in-out;
}

@keyframes shakeAnimation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/*footer text*/
#footer-text {
  margin: 1rem 0;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bolder;
}

/*text wrapper*/
.text-wrapper {
  display: flex;
  justify-content: center;
}
